.TaskName-shadow, .TaskName-input{
	direction: rtl;
}

.TaskRow.ItemRow--enabled:not(.ItemRow--focused):not(.ItemRow--highlighted){
	direction: rtl;
}
.TaskList{
	direction:rtl;
}
.TruncatedRichText{
	direction: rtl;
}

.textEditor-container .ql-editor{
	direction: rtl;
}

.TaskRowCompletionStatus-checkbox--withoutEmptyCheckCircleExperiment.TaskRowCompletionStatus-checkbox--incomplete{
	margin-left:5px;
}

.SingleTaskTitleInput-taskName .autogrowTextarea-input, .SingleTaskTitleInput-taskName .autogrowTextarea-shadow
{
	direction: rtl;
}

.MiniStatusUpdateCard-header{
	direction:rtl
}
.MiniStatusUpdateCard-body{
	direction:rtl
}
.ProjectPageHeader-projectName{
	direction: rtl;	
}
.textInput.textInput--large{
	direction: rtl;
}
.textEditor-container, .textEditor-container .quill-container
{
	direction: rtl;
}
.TaskProjectPill-projectName{
	direction: rtl;
}
.MiniStoryActionSentence{
	direction: rtl;
}
.Token-label{
	direction:rtl;
}
.TaskAncestry-ancestorProject{
	direction: rtl;
}
.PotPillsContainer-potPillLink:first-child{
	direction: rtl;
}
.TileStructure-name{
	direction: rtl;	
}
.MultilineRowMetadataStructure-title{
	direction: rtl;
}
